@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: black;
}

.shimmer {
    animation: shimmer 2s infinite linear;
    background: linear-gradient(to right, #2c2c2c 4%, #333 25%, #2c2c2c 36%);
    background-size: 1000px 100%;
}

@keyframes shimmer {
    0% {
        background-position: -1000px 0;
    }

    100% {
        background-position: 1000px 0;
    }
}